.dio{
    font-size: 17px;
}
#kerdoivunk{
    font-size: 17px;
}
body{
    color:white;
    margin:auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-weight: bold;
    color:wheat;
}
h2{
    font-weight: bold;
    color:wheat;
}

.bev{
    font-size: 21px;
}

/* QUESTIONNARE */
#questionnareParagraph{
    font-size: 21px;
    border: 3px wheat solid;
    padding: 10px;
}
#questionnare input{
    margin: 12px;
}
.szoveg{
    background-color: rgba(47,79,79,0.8);
    width: 1000px;
    margin:auto;
    
}
#folap{
   background-image:url('Hatter.jpg') ;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#kviz{
    background-color: darkslategray;
    width: 1000px;
    margin:auto;
}

.nevezetesseg
{
    background-color: darkslategray;
    text-align: center;
    color: black;
}
